h1 {
    text-align: center;
    margin: 30px auto;
    font-size: clamp(25px, 4vw, 45px);
}
form {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    width: 70%;
}
#contact {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#contact > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 90%;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid var(--quaternary-color);
    box-shadow: var(--box-shadow-quinary);
}
.select {
    border: 1px solid var(--quaternary-color);
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px 20px;
    background: transparent;
    font-size: 15px;
    max-width: 80%;
    box-shadow: var(--box-shadow-quinary);
    cursor: pointer;
}
.textarea {
    resize: none;
    height: 200px;
}
.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    width: 60%;
    text-align: center;
    background-color: var(--quaternary-color);
    border-radius: 15px;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-color);
    box-shadow: var(--box-shadow-quinary);
}
.btn:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--quinary-color);
    color: black;
    cursor: pointer;
}
@media  (max-width: 750px) {
    #contact > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .select{
        margin-top: 5px;
    }
}