{% extends 'base.html.twig' %}

{% block title %}IDDEES | Accueil{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.css')}}">
{% endblock %}

{% block btn %}
{% endblock %}

{% block body %}
    <div class="accueil_container">

        <div class="accueil_img">
            <img src="assets/img/logo.png" alt="Logo de l'association IDDEES">
        </div>
        <div class="accueil_titre_description">
            <div class="accueil_titre">
                {% for titre in accueil %}
                <h1>{{ titre.titre }}</h1>
                {% endfor %}
            </div>
            <div class="accueil_description">
                {% for description in accueil %}
                    {{ description.description | raw}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}