{% extends 'base.html.twig' %}

{% block title %}IDDEES | Nous contacter{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/contact.css')}}">
{% endblock %}

{% block body %}
<h1>Contactez IDDEES</h1>
{{ form(form) }}

{% endblock %}
