{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden !</h1>

    <p>
        The requested page is Forbidden. Checkout for any URL
        misspelling or <a href="{{ path('accueil') }}">return to the homepage</a>.
    </p>
{% endblock %}